/* -- Media -- */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* -- /Media -- */


/* -- Reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* -- /Reset -- */




/* -- Globals -- */

html, body {
	width:100%;
	height:100%;
	height: 100%;
	color: #191919;
	font-family: 'PT Sans', sans-serif;
	min-width:900px;
}

body {
	background-position: 0% 0%;
	background-repeat: repeat repeat;
	position:absolute;
	top:0;
	left:0;
}

h1 {
	font-size: 1.625em;
	line-height: 1.84615em;
	line-height: 1.5em;
	padding-top: 1.5em;
	font-weight: bold;
}
h2 {
	font-size: 1.375em;
	line-height: 2.18182em;
	line-height: 1.5em;
	font-weight: bold;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	transition-duration: 250ms;
}

p {
	font-size: 1em;
	line-height: 1.8em;
	margin-bottom:20px;
	font-weight: 100;
}

p.date {
	color: #838383;
}


/* -- Header -- */
.header {
	background:url(images/bg.png) top left repeat;
	border-bottom:1px solid #111;
	position:relative;
}

.header img {
	width:200px;
	padding:20px 0;
	margin-left:5%;
}

.nav {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	letter-spacing:1px;
	position:absolute;
	right:5%;
	top:45px;
}

.nav li {
	display:inline-block;
	text-transform:uppercase;
	font-size:14px;
	margin:0 20px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.75);
}

.nav li a {
	text-decoration:none;
}

.nav li a:hover {
	text-decoration:underline;
}

.nav a[href='/graphic-design'] {
	color:#90c7b5;
}

.nav a[href='/web-design'] {
	color:#c34820;
}

.nav a[href='/photography'] {
	color:#a8af3f;
}

/* -- Intro -- */

.intro {
	width:100%;
	background:url(/images/bg.png) no-repeat;
	background-position: center top;
	background-size:140% auto;
	text-shadow: 0 1px 3px rgba(0,0,0,0.75);
}

.intro .heading {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	letter-spacing:1px;
	color:#fff;
	font-size:30px;
	width:32%;
	margin-left:5%;
	padding:50px 0;
	height:440px;
	position:relative;
}

.intro .nav {
	position:relative;
	top:0;
	left:0;
	width:500px;
}

.intro .nav li {
	margin:0 25px 0 0;
}

.intro .nav li.graphic {
	background:url('images/graphic-icon.png') no-repeat;
	background-position: center -210px;
}

.intro .nav li.graphic:hover {
	background-position: center 0px;
}

.intro .nav li.web {
	background:url('images/web-icon.png') no-repeat;
	background-position: center -210px;
}

.intro .nav li.web:hover {
	background-position: center 1px;
}

.intro .nav li.photography {
	background:url('images/photography-icon.png') no-repeat;
	background-position: center -210px;
}

.intro .nav li.photography:hover {
	background-position: center 1px;
}

.intro .nav a {
	color:#fff;
	padding-top:90px;
	display:block;
}

.intro .nav a:hover {
	text-decoration:none;
}

.intro .nav a[href='/graphic-design']:hover {
	color:#90c7b5;
}

.intro .nav a[href='/web-design']:hover {
	color:#c34820;
}

.intro .nav a[href='/photography']:hover {
	color:#a8af3f;
}

.intro .heading p {
	padding:20px 0;
}

.intro .heading p:nth-child(2) {
	font-family: helvetica, sans-serif;
	font-size:18px;
}

.featured-card.card {
	position:absolute;
	top:280px;
	right:5%;
}

img.featured-artist {
	position:absolute;
	top:200px;
	width:300px;
	margin-right:110px;
	right:5%;
}

.card {
	position:relative;
	padding:20px;
	background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	width:480px;
}

.card .img {
	width:200px;
	height:200px;
	overflow:hidden;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	position:relative;
}

.card .img:after {
	content: "";
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.4) inset;
}

.card img {
	width:100%;
	height:100%;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}


.card .port img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.card .name {
	position:absolute;
	left:240px;
	top:20px;
	font-size:30px;
	text-shadow:none;
}

.card .name a {
	color:#333;
	text-decoration:none;
}

.card .name span {
	color:#fff;
}

.card:hover .name span {
	color:#949494;
}

.card:hover .name:hover span {
	color:#333;
}

.card .type {
	position:absolute;
	left:240px;
	top:60px;
	font-size:18px;
	text-shadow:none;
}

.type.graphic-design {
	color:#90c7b5;
}

.type.web-design {
	color:#c34820;
}

.type.photography {
	color:#a8af3f;
}

.card .tools {
	position:absolute;
	left:240px;
	top:100px;
	color:#949494;;
	font-size:18px;
	text-shadow:none;
}

.card .tools li {
	list-style:none;
	display:inline-block;
	margin-right:10px;
}

.card .port {
	position:absolute;
	left:240px;
	top:160px;
	color:#949494;;
	font-size:18px;
	text-shadow:none;
}

.card .port li {
	list-style:none;
	display:inline-block;
	margin-right:10px;
}

.card .port img {
	width:60px;
	height:60px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}


.intro .bottom {
	background:url(images/intro_nav_bg.png) rgba(0,0,0,0.5) top left repeat-x;
	padding:30px;
	position:relative;
}

.intro .bottom .title {
	color:#888;
	opacity:0.9;
	position:absolute;
	top:40%;
	left:-10px;
	font-size:26px;
	font-weight:800;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.intro .bottom .col {
	letter-spacing:1px;
	color:#fff;
	width:35%;
	margin-left:10%;
	float:left;
	text-shadow: 0 1px 3px rgba(0,0,0,0.75);
}

.intro .bottom .col img {
	float:left;
	width:35px;
	margin-right:15px;
	margin-top:2px;
}

.intro .bottom .col p {
	font-size:16px;
	font-family: "Helvetica Neue", helvetica, sans-serif;
}

.intro .bottom .col .sub {
	font-size:24px;
}

.intro .bottom .col p:last-child {
	letter-spacing:0px;
	font-family: helvetica, sans-serif;
}


.faqs {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	background:url('images/faq_bg.gif') top left repeat;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.75);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.75);
	position:relative;
	padding:30px;
}

.faqs a, .aboutus a {
	color: #6acacd;
	text-decoration:none;
}

.faqs a:hover, .aboutus a:hover {
	text-decoration:underline;
}

.faqs .heading {
	margin-left:10%;
	padding:10px 0;
	color:#fff;
	font-size:24px;
	font-weight:100;
}

.faqs .title {
	color:#888;
	opacity:0.9;
	position:absolute;
	top:40%;
	font-size:26px;
	font-weight:800;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.faqs .col {
	letter-spacing:1px;
	color:#fff;
	width:35%;
	margin:10px 0 10px 10%;
	float:left;
	text-shadow: 0 1px 3px rgba(0,0,0,0.75);
}

.faqs .col h3 {
	font-style:italic;
}

.clear {
	clear:both;
}

.gap {
	margin-top:40px;
}


.aboutus {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	background:url('images/about_bg.gif') top left repeat;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.75);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.75);
	position:relative;
	padding:30px;
}

.aboutus .heading {
	margin-left:10%;
	padding:10px 0;
	color:#fff;
	font-size:24px;
	font-weight:100;
}

.aboutus .title {
	color:#888;
	opacity:0.9;
	position:absolute;
	top:40%;
	left:20px;
	font-size:26px;
	font-weight:800;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.aboutus .section {
	color:#fff;
	margin:0 10%;
	letter-spacing:1px;
	color:#fff;
	text-shadow: 0 1px 3px rgba(0,0,0,0.75);
}


/* -- Artists -- */
.graphic-design-cont, .web-design-cont, .photography-cont {
	width:100%;
	height:auto;
	box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7) inset;
	text-shadow: 0 1px 3px rgba(0,0,0,0.4);
	position:relative;
}

.graphic-design-cont {
	background:rgba(144, 199, 181, 1);
}

.graphic-design-cont .title, .web-design-cont .title, .photography-cont .title {
	font-family: "Helvetica Neue", helvetica, sans-serif;
	font-size:18px;
	position:absolute;
	top:40px;
	left:5%;
}

.graphic-design-cont .card, .web-design-cont .card, .photography-cont .card {
	display:inline-block;
	margin: 40px 0 40px 5%;
}

.web-design-cont {
	background:rgba(195, 72, 32, 1);
}

.photography-cont {
	background:rgba(168, 175, 63, 1);
}



/* -- Pages -- */
.info {
	width:auto;
	min-width:900px;
	height:auto;
	min-height:400px;
	background:#272b32;
	padding:50px 5%;
	position:relative;
}

.info .img {
	float:left;
	width:400px;
	height:400px;
	overflow:hidden;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	position:relative;
}

.info .img:after {
	content: "";
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.4) inset;
}

.info img {
	width:100%;
	height:100%;
}

.info .about {
	margin-left:500px;
	font-size:46px;
	color:#fff;
}

.info .type {
	position:relative;
	font-size:32px;
	margin:20px 0;
}

.info .bio {
	color:#fff;
	font-size:20px;
	margin-right:20px;
}

.info .bio p {
	line-height:1.2em;
}

.info .contact {
	position:relative;
	color:#fff;
	margin-top:40px;
}

.info .contact img {
	display:inline-block;
	width:32px;
	height:32px;
	margin-right:10px;
}

.info .contact div {
	display:inline-block;
	margin-top:10px;
}

.info .contact div div {
	display:inline-block;
	position:relative;
	top:-10px;
	margin-right:20px;
}

.info .bio a {
	color:#6acacd;
	text-decoration:none;
}

.info .bio a:hover {
	text-decoration:underline;
}

.portfolio {
	background: url(images/twinkle_twinkle.png) top left repeat;
	width:100%;
	overflow-y:hidden;
	height:300px;
}

.portfolio-container {
	margin:40px;
	width:10000px;
}

.portfolio-container img {
	height:200px;
	float:left;
	margin-right:50px;
}
.antiscroll-scrollbar {
	background:#333;
}

.footer {
	background:#111;
	padding:10px;
	position:relative;
	height:50px;
}

.footer p {
	margin-left:20px;
	color:#fff;
}
.footer img {
	float:right;
	margin-right:20px;
	height:40px;
}
