/* -- Media -- */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* -- /Media -- */


/* -- Reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* -- /Reset -- */




/* -- Globals -- */

html, body {
	width:100%;
	height:100%;
	height: 100%;
	color: #191919;
	font-family: 'PT Sans', sans-serif;
}

body {
	background: url("images/navy_blue_brighter.png");
	background-position: 0% 0%;
	background-repeat: repeat repeat;
	position:absolute;
	top:0;
	left:0;
}

h1 {
	font-size: 1.625em;
	line-height: 1.84615em;
	line-height: 1.5em;
	padding-top: 1.5em;
	font-weight: bold;
}
h2 {
	font-size: 1.375em;
	line-height: 2.18182em;
	line-height: 1.5em;
	font-weight: bold;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	transition-duration: 250ms;
}

p {
	font-size: 1em;
	line-height: 1.8em;
	margin-bottom:20px;
	font-weight: 100;
}

p.date {
	color: #838383;
}

/* -- /Globals -- */

/* -- Intro -- */

.intro {
	width:600px;
	margin:10% auto 0;
	text-align:center;
	display:none;
}

.intro .title img {
	width:300px;
}

.intro p {
	font-size:18px;
	margin-bottom: 10px;
	color:#fff;
}


.intro-nav {
	margin:40px 0 50px;
}

.intro-nav li {
	list-style:none;
	margin:0 10px;
	display:inline-block;
	font-size:22px;
}

.intro-nav li:after {
	content:"//";
	color:#eee;
}

.intro-nav li:last-child:after {
	content:"";
}

.intro-nav a {
	padding:5px 0px;
	margin-right:20px;
	font-size:22px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	text-align:right;
	opacity:0.8;
}

.intro-nav a[href='/#/about'] {
	color:#90c7b5;
}

.intro-nav a[href='/#/how'] {
	color:#c34820;
}

.intro-nav a[href='/#/faq'] {
	color:#a8af3f;
}

.intro-nav a:hover {
	opacity:1;
}

.help {
	margin-top:40px;
}

.intro-cat-nav {
	margin-top:20px;
}

.intro-cat-nav li {
	list-style:none;
	margin:5px 0;
	display:inline-block;
	margin-right:20px;
}

.intro-cat-nav a {
	padding:5px 0px;
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	text-align:right;
	opacity:0.8;
}

.intro-cat-nav a:hover {
	opacity:1;
}

.intro-cat-nav a[href='/#/graphic'] {
	padding-left:25px;
	color:#d97322;
	background:url(images/icons/graphic_gray.png) 0% 60% no-repeat;
}

.intro-cat-nav a[href='/#/graphic']:hover {
	background:url(images/icons/graphic.png) 0% 60% no-repeat;
	padding-left:25px;
	color:#d97322;
}

.intro-cat-nav a[href='/#/webdesign'] {
	color:#fff;
	padding-left:25px;
	background:url(images/icons/programmer_gray.png) 0% 60% no-repeat;
	color:#ffdf50;
}

.intro-cat-nav a[href='/#/webdesign']:hover {
	color:#ffdf50;
	padding-left:25px;
	background:url(images/icons/programmer.png) 0% 60% no-repeat;
}

.intro-cat-nav a[href='/#/photography'] {
	color:#fff;
	padding-left:25px;
	background:url(images/icons/photography_gray.png) 0% 60% no-repeat;
	color:#b06891;
}

.intro-cat-nav a[href='/#/photography']:hover {
	color:#b06891;
	padding-left:25px;
	background:url(images/icons/photography.png) 0% 60% no-repeat;
}



/* -- Content -- */

.container {
	position:relative;
	width:900px;
	min-height:700px;
	margin:0 auto;
}


/* -- Sidebars -- */

.sidebar {
	position:fixed;
	top:140px;
	width:200px;
	height:440px;
	padding:20px 0;
}

.sidebar.left {
	margin-left:0;
	width:250px;
}

.sidebar.right {
	margin-left:692px;
	top:100px;
	width:220px;
	display:none;
	background:url(images/billie_holiday.png) top left repeat;
}
.headshot {
	width:180px;
	margin:0 auto;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.headshot img {
	width:180px;
}
.nav {
	margin-top:20px;
}

.nav.main li {
	list-style:none;
	margin:0;
	display:inline-block;
}

.nav.main li:after {
	content:"//";
}

.nav.main li:last-child:after {
	content:"";
}

.nav.main a {
	padding:5px 0px;
	margin-right:5px;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	text-align:right;
}

.nav a[href='/#/about']:hover {
	color:#90c7b5;
}

.nav a[href='/#/how']:hover {
	color:#c34820;
}

.nav a[href='/#/faq']:hover {
	color:#a8af3f;
}

.nav.sub {
	margin-top:40px;
}

.nav.sub li {
	list-style:none;
	margin:5px 0;
}

.nav.sub a {
	padding:5px 0px;
	margin-right:5px;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	text-align:right;
}

.nav.sub a[href='/#/graphic'] {
	color:#fff;
	padding-left:30px;
	background:url(images/icons/graphic_gray.png) 0% 60% no-repeat;
}

.nav.sub a[href='/#/graphic']:hover {
	background:url(images/icons/graphic.png) 0% 60% no-repeat;
	color:#d97322;
}

.nav.sub a[href='/#/webdesign'] {
	color:#fff;
	padding-left:30px;
	background:url(images/icons/programmer_gray.png) 0% 60% no-repeat;
}

.nav.sub a[href='/#/webdesign']:hover {
	color:#ffdf50;
	padding-left:30px;
	background:url(images/icons/programmer.png) 0% 60% no-repeat;
}

.nav.sub a[href='/#/photography'] {
	color:#fff;
	padding-left:30px;
	background:url(images/icons/photography_gray.png) 0% 60% no-repeat;
}

.nav.sub a[href='/#/photography']:hover {
	color:#b06891;
	padding-left:30px;
	background:url(images/icons/photography.png) 0% 60% no-repeat;
}


ul.faq {
	padding:10px;
}	
ul.faq li {
	list-style:none;
	padding-bottom:10px;
}
ul.faq a {
	color:#333;
	text-decoration:none;
}
ul.faq a:hover {
	color:#000;
	margin-left:2px;
}
ul.faq li {
	font-weight:800;
}
ul.faq ul	{
	padding-left:10px;
	padding-bottom:20px;
}
ul.faq ul li {
	font-weight:400;
}



.person-title {
	font-size:18px;
	margin:10px 0;
	margin-left:20px;
	font-weight:800;
}

.person-title.graphic {
	/*color:#d97322;*/
}

.nav.right {
	padding-left:20px;
}

.nav.right li {
	list-style:none;
}

.nav.right li a {
	color:#333;
	text-decoration:none;
}

/* -- /Sidebar -- */


/* -- Body -- */

.page {
	min-height:300px;
	border: 1px solid #B5B9B9;
	background:#fff;
	width:400px;
	padding:20px;
	margin:60px 250px;
	float:left;
	display:none;
	box-shadow: 3px 3px 5px #33;
}

.page-title {
}
.page-title.about h2 {
	background-color: #90c7b5;  
}
.page-title.how h2 {
	background-color: #c34820;  
}
.page-title.faq h2 {
	background-color: #a8af3f;  
}
.page-title.graphic h2 {
	background-color:#d97322;  
}
.page-title.webdesign h2 {
	background-color:#ffdf50;  
}
.page-title.photography h2 {
	background-color:#b06891;  
}

.page-title h2 {
	position: relative;  
	width: 40%;  
	font-size: 1.5em;  
	font-weight: bold;  
	padding: 6px 20px 6px 30px;  
	margin: 10px 10px 20px -41px;  
	color: #333;  
	text-shadow: 0px 1px 2px #bbb;  
	-webkit-box-shadow: 0px 2px 4px #888;  
	-moz-box-shadow: 0px 2px 4px #888;  
	box-shadow: 0px 2px 4px #888; 
}

.page-title h2:after {
	content: ' ';  
	position: absolute;  
	width: 0;  
	height: 0;  
	left: 0px;  
	top: 100%;  
	border-width: 5px 10px;  
	border-style: solid;  
	border-color: #666 #666 transparent transparent;  
}

.page-title.faq div {
	color:#333;
	font-size:12px;
	margin-top:-10px;
	margin-bottom:20px
}

ul.port-nav {
	margin-left:20px;
}
ul.port-nav li {
	list-style:none;
}
ul.port-nav a {
	color:#333;
	text-decoration:none;
}
ul.port-nav a:hover {
	color:#000;
}

.portfolio {
	margin:40px 0 20px -20px;
	width:440px;
	overflow:hidden;
}

.portfolio-container {
	width:7000px;
}

.portfolio img {
	width:440px;
	height:320px;
	float:left;
}

.portfolio-thumb-container {
	width:100%;
	margin-top:20px;
	padding:0 10px;
}

.portfolio-thumb-container img {
	width:50px;
	height:50px;
	margin-bottom:10px;
	margin-right:10px;
	float:left;
}

.portfolio-thumb-container img.active {
	border:2px blue solid;
	margin: -2px 8px 8px -2px;
}

.portfolio-layout {
	width:400px;
}

.card-layout {
	width:550px;
}

.card {
	position:relative;
	width:470px;
	background:#fff;
	padding:20px;
	background:whiteSmoke;
	margin:20px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.card h3 {
	margin-top:20px;
	color:#333;
	text-decoration:none;
}

.card .headshot {
	width:150px;
}
.card .mini-port img {
	width:100px;
	height:80px;
	margin-right:10px;
}

.card-info {
	width:300px;
	position:absolute;
	top:0px;
	left:190px;
	overflow:hidden;
}

.mini-port {
	width:100000px;
}


.footer {
	min-height:10px;
	width:400px;
	padding:20px;
	margin:30px 240px;
	float:left;
}
